<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="science.jiangqi.dao.UserMapper">
  <resultMap id="BaseResultMap" type="science.jiangqi.entity.User">
    <id column="userName" jdbcType="VARCHAR" property="username" />
    <result column="passWord" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="authority" jdbcType="VARCHAR" property="authority" />
  </resultMap>
  <sql id="Base_Column_List">
    userName, passWord, sex, authority
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userName = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where userName = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="science.jiangqi.entity.User">
    insert into user (userName, passWord, sex, 
      authority)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{authority,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="science.jiangqi.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        passWord,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="authority != null">
        authority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="science.jiangqi.entity.User">
    update user
    <set>
      <if test="password != null">
        passWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="authority != null">
        authority = #{authority,jdbcType=VARCHAR},
      </if>
    </set>
    where userName = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="science.jiangqi.entity.User">
    update user
    set passWord = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      authority = #{authority,jdbcType=VARCHAR}
    where userName = #{username,jdbcType=VARCHAR}
  </update>
</mapper>